.proyectos {
  padding: 200px 20px;
  text-align: center;
  background-color: #0d1117;
  color: white;
}

.proyectos h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

#mi {
  color: #ffffff;
}

#portfolio {
  color: #4eeba9;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
  width: 320px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel img {
  min-width: 100%;
  height: 180px;
  object-fit: cover;
  scroll-snap-align: start;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.usado {
  background-color: #333;
  color:#9a9a9a;
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 10px;
}

#parraf{
  color:#9a9a9a;
}