.proyectos {
  padding: 200px 20px;
  text-align: center;
  background-color: #0d1117;
  color: white;
}

.proyectos h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

#mi {
  color: #ffffff;
}

#portfolio {
  color: #4eeba9;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
  width: 320px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

/* ----- ESTILO GENERAL PARA TODOS LOS CAROUSELS ----- */
.carousel {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

/* Animación para cada carrusel */

/* Carta 1 */
.carousel-1 img {
  animation: fadeSlider1 9s infinite;
}
.carousel-1 img:nth-child(1) { animation-delay: 0s; }
.carousel-1 img:nth-child(2) { animation-delay: 3s; }
.carousel-1 img:nth-child(3) { animation-delay: 6s; }
@keyframes fadeSlider1 {
  0%, 100% { opacity: 0; }
  5%, 30%  { opacity: 1; }
  35%      { opacity: 0; }
}

/* Carta 2 */
.carousel-2 img {
  animation: fadeSlider2 9s infinite;
}
.carousel-2 img:nth-child(1) { animation-delay: 0s; }
.carousel-2 img:nth-child(2) { animation-delay: 3s; }
.carousel-2 img:nth-child(3) { animation-delay: 6s; }
@keyframes fadeSlider2 {
  0%, 100% { opacity: 0; }
  5%, 30%  { opacity: 1; }
  35%      { opacity: 0; }
}

/* Carta 3 */
.carousel-3 img {
  animation: fadeSlider3 9s infinite;
}
.carousel-3 img:nth-child(1) { animation-delay: 0s; }
.carousel-3 img:nth-child(2) { animation-delay: 3s; }
.carousel-3 img:nth-child(3) { animation-delay: 6s; }
@keyframes fadeSlider3 {
  0%, 100% { opacity: 0; }
  5%, 30%  { opacity: 1; }
  35%      { opacity: 0; }
}


/* ----- CONTENIDO ----- */
.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #9a9a9a;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.usado {
  background-color: #333;
  color: #9a9a9a;
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 10px;
}
a{
  color: aliceblue;
  
}
.linkgit{
  margin-top: 10px;
}
.ico{
  width: 10px;
}